<form (ngSubmit)="update()" #usersForm="ngForm">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <h3 class="text-center">Edicion de Usuario</h3>
        <div class="col-lg-12">
          <div class="form-group">
            <mat-form-field class="example-full-width">
              <mat-label>Nombres</mat-label>
              <input
              matInput
              id="name"
              [(ngModel)]="user.names"
              name="name"
              required
              maxlength="50"
              minlength="5"
              placeholder="Digite nombre del Usuario"
              #name="ngModel">
            </mat-form-field>
            <div class="alert alert-danger" *ngIf="name.invalid && (name.dirty || name.touched)">
              <div *ngIf="name.errors?.['required']">
                El nombre es requerido
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="form-group">
            <mat-form-field class="example-full-width">
              <mat-label>Apellidos</mat-label>
              <input
              matInput
              id="last_name"
              [(ngModel)]="user.last_names"
              name="last_name"
              required
              maxlength="50"
              minlength="5"
              placeholder="Digite apellidos del Usuario"
              #last_name="ngModel">
            </mat-form-field>
            <div class="alert alert-danger" *ngIf="last_name.invalid && (last_name.dirty || last_name.touched)">
              <div *ngIf="last_name.errors?.['required']">
                El apellido es requerido
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="form-group">
            <mat-form-field class="example-full-width">
              <mat-label>Numero de Telefono</mat-label>
              <input
              matInput
              type="text" (input)="onlyNumbers($event)"
              id="number_phone"
              [(ngModel)]="user.number_phone"
              name="number_phone"
              required
              pattern="^[0-9]+$"
              maxlength="10"
              minlength="10"
              placeholder="Digite numero de telefono del Usuario"
              #number_phone="ngModel">
            </mat-form-field>
            <div class="alert alert-danger" *ngIf="number_phone.invalid && (number_phone.dirty || number_phone.touched)">
              <div *ngIf="number_phone.errors?.['required']">
                El numero de telefono es requerido
              </div>
              <div *ngIf="number_phone.errors?.['minlength'] || number_phone.errors?.['pattern']">
                El numero de telefono debe tener 10 digitos
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="form-group">
            <mat-form-field class="example-full-width">
              <mat-label>Correo</mat-label>
              <input
              matInput
              id="email"
              [(ngModel)]="user.email"
              name="email"
              required
              pattern="[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*@[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*[.][a-zA-Z]{1,5}"
              placeholder="Digite correo del Usuario"
              maxlength="80"
              minlength="5"
              #email="ngModel">
            </mat-form-field>
            <div class="alert alert-danger" *ngIf="email.invalid && (email.dirty || email.touched)">
              <div *ngIf="email.errors?.['required']">
                El correo es requerido
              </div>
              <div *ngIf="email.errors?.['pattern']">
                El correo debe tener el formato example&#64;example.com
              </div>
            </div>
          </div>
        </div>

        <button type="button" class="btn btn-secondary m-1" (click)="index()">Devolver</button>
        <button type="submit" class="btn btn-success m-1" [disabled]="!usersForm.form['valid']">Guardar</button>
      </div>
    </div>
  </form>
